---
interface Props {
    iconPath: string;
    title?: string;
    size?: number;
    class?: string;
}

const { iconPath, title = "", size = 16, class: className = "" } = Astro.props;
---

<svg
    role="img"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    width={size}
    height={size}
    class={className}
    aria-label={title}
>
    {title && <title>{title}</title>}
    <path d={iconPath} fill="currentColor"></path>
</svg>
